<h1> 

	<%= @title %>

</h1>



<select class="form-control" name="master_arr">
    <option><%= @arr1[0].to_s %></option>
    <option><%= @arr1[1].to_s %></option>
    <option><%= @arr1[2].to_s %></option>
    <option><%= @arr1[3].to_s %></option>
</select>

<% @logfile1.each_line do |line| %>
  <table class="table table-striped">
   <%= line %> 
   </table>
<% end %>
